.carrito {
  display: flex;
  align-items: center;
  justify-content: center;
}


.imgCarrito {
  width: 40px;  
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.imgCarrito:hover {
  transform: scale(1.1); 
}
