@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




.contenedorProductos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px;
    padding: 10px; 
    font-family: 'Poppins', sans-serif;
}
.contenedorProductos  :hover{
    color: hwb(190 88% 0%) ;
}