.contenedorProductos{
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas se acomoden en varias filas si el espacio horizontal no es suficiente */
    justify-content: space-around; /* Distribuye el espacio de manera uniforme */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 10px; /* Espaciado alrededor del contenedor */
}
.contenedorProductos  :hover{
    color: hwb(190 88% 0%) ;
}